* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  list-style: none;
  text-decoration: none;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

:root {
  --white-clr: #fff;
  --black-clr: #000;
  --first-clr: #e50914;
  --second-clr: rgb(100, 99, 99);
  --thirdh-clr: #0071eb;
  --fourth-clr: rgba(255, 255, 255, 0.7);
  --fifth-clr: #333;
  --sixth-clr: #b3b3b3;

  --transition: all 0.2s ease-in;

  --container-width-lg: 80%;
  --container-width-md: 90%;
  --container-width-sm: 95%;
}

/* ========================== GENERAL STYLES ======================== */

html {
  scroll-behavior: smooth;
}

body {
  color: var(--white-clr);
}

::-webkit-scrollbar {
  display: none;
}

header {
  background: var(--black-clr);
}

header::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100vh;
  background: url("../img/background.jpg");
  background-size: cover;
}

.form-wrapper {
  position: absolute;
  left: 50%;
  top: 50%;
  border-radius: 4px;
  padding: 70px;
  width: 450px;
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0.75);
}

.form-wrapper h2 {
  color: var(--white-clr);
  font-size: 2rem;
}

.form-wrapper form {
  margin: 25px 0 65px;
}

form .form-control {
  height: 50px;
  position: relative;
  margin-bottom: 16px;
}

.form-control input {
  height: 100%;
  width: 100%;
  background: var(--fifth-clr);
  border: none;
  outline: none;
  border-radius: 4px;
  color: var(--white-clr);
  font-size: 1rem;
  padding: 0 20px;
}

.form-control input:is(:focus, :valid) {
  background: var(--fifth-clr);
  padding: 16px 20px 0;
}

.form-control label {
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1rem;
  pointer-events: none;
  color: var(--second-clr);
  transition: all 0.1s ease;
}

.form-control input:is(:focus, :valid) ~ label {
  font-size: 0.75rem;
  transform: translateY(-130%);
}

form button {
  width: 100%;
  padding: 16px 0;
  font-size: 1rem;
  background: var(--first-clr);
  color: var(--white-clr);
  font-weight: 500;
  border-radius: 4px;
  border: none;
  outline: none;
  margin: 25px 0 10px;
  cursor: pointer;
  transition: 0.1s ease;
}

form button:hover {
  background: var(--first-clr);
}

.form-wrapper a {
  text-decoration: none;
}

.form-wrapper a:hover {
  text-decoration: underline;
}

.form-wrapper :where(label, p, small, a) {
  color: var(--sixth-clr);
}

form .form-help {
  display: flex;
  justify-content: space-between;
}

form .remember-me {
  display: flex;
}

form .remember-me input {
  margin-right: 5px;
  accent-color: var(--sixth-clr);
}

form .form-help :where(label, a) {
  font-size: 0.9rem;
}

.form-wrapper p a {
  color: var(--white-clr);
}

.form-wrapper small {
  display: block;
  margin-top: 15px;
  color: var(--sixth-clr);
}

.form-wrapper small a {
  color: var(--thirdh-clr);
}

/* ======================================= MEDIA QUERIES (MEDIUM DEVICES) ======================================= */

@media (max-width: 740px) {
  header::before {
    display: none;
  }

  .form-wrapper {
    padding: 20px;
  }

  .form-wrapper {
    width: 100%;
    top: 43%;
  }

  .form-wrapper form {
    margin: 25px 0 40px;
  }
}
